table, tr, tfoot{
  border: 1px solid black;
  border-radius: 15px;
  border-collapse: collapse;
}
caption{
    border-top: 1px solid black;
    border-left:1px solid black ;
    border-right:1px solid black ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
th{
    background-color: rgb(4, 44, 4);
    color: aliceblue;
    padding-bottom: 50px;
    padding-top: 10px;
}